
body {
    display: block;
    margin: 0px;
}

li.leftAlign {
    float: left;
}

.navBar1 {
    z-index: 9999;
   
}

a#navHead:-webkit-any-link {
    color: white;
    text-decoration: none;
    cursor: auto;
}

.movingText {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}



.a#kayıt {
	font-family: 'Roboto', sans-serif;
    font-weight: 100;

    display: block;
    color: white;
    font-size: 70px;
    text-align: center; 
    text-decoration: none;
}

a.signup {
	border-style: solid;
	border-color: white;	
	background-color: rgba(255,255,255,.2);
    height: 35px;
    line-height: 35px !important;
    border-radius: 2px !important;
    vertical-align: center; 
}

a.signup:hover {
    background-color: rgba(255,255,255,.4);
}


.titleContainer{
    padding-top: 20%;
    height: 100px;
}

.pageHeader {
	font-size: 60px;
	text-align: center;
    padding: 0;
	color: white;
    font-family: 'Nunito', sans-serif;
    align-items: center;
    
	
}





.topMain {
	height: 600px;

}


/* this is for video part */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    z-index: 0 !important;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    z-index: 1 !important;
    
}


.video-container .title-container {
    z-index: 20 !important;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 200px;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
    z-index: -11;
}

/* second main page */
.secondMain{
    background-color: #505168; 
    height: 600px;
}

.secondHeader {
    font-size: 30px;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding-right: 30px;
    padding-top: 100px;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}

.coderTable{
    height: 500px;
    width: 90%;
}

.subWriting { 
    color: white;
    font-size: 18px;
    width: 600px;
    font-family: 'Nunito', sans-serif;
}

/* third main page */

.thirdMain {
    
    height: 600px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/Users/kaanbursa/Desktop/bitakademi/frontend/assets/Snapshots/makeaWebsite.svg') bottom right 15% no-repeat #46B6AC;
    background-size: 100%;
}
.demo-card-square > #sql {
    color: #fff;
  background:
    url('/Users/kaanbursa/Desktop/bitakademi/frontend/assets/Snapshots/sql.svg') bottom right 15% no-repeat #46B6AC;
    background-size: 100%;
}

.mdl-card__title-text{
    padding-left: 20% !important;
}

#thirdHead {
    color: #373F47;
    padding-top: 0px;
    padding-bottom: 0px;
}


/* sign up and login pages */
.signupHeaderTable {
    height: 600px;
    background-color: white;

}

#signupHeader {
    background-color: #1D1E2C;
}

.signUpandIn{
    background-color: white;
    position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  height: 350px;
  width: 400px;
  

}

.kayitButtonlari{
    width: 190px;
    margin-top: 10px;
}

.tableHead{
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #86CB92;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.signupmenu {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}



